.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.welcome-section {
    text-align: center;
    margin-bottom: 50px;
}

.welcome-section h1 {
    font-size: 2.5em;
    color: #333;
}

.welcome-section p {
    font-size: 1.2em;
    color: #666;
}

.animal-images {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  
}

.animal-images img {
    width: 600px; /* Adjust as needed */
    height: auto;
    margin: 0 10px;
    border-radius: 300px;
    
}

.animal-image {
    transition: transform 0.2s;
}

.animal-image:hover {
    transform: scale(1.1);
}

.animal-link {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.animal-link:hover .tooltip {
    visibility: visible;
    opacity: 1;
}