.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.welcome-section {
    text-align: center;
    margin-bottom: 50px;
}

.welcome-section h1 {
    font-size: 2.5em;
    color: #333;
}

.welcome-section p {
    font-size: 1.2em;
    color: #666;
}

.animal-images {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  
}

.animal-images img {
    width: 600px; /* Adjust as needed */
    height: auto;
    margin: 0 10px;
    border-radius: 100%;
    
}

.animal-image {
    transition: transform 0.2s;
}

.animal-image:hover {
    transform: scale(1.1);
}

.animal-link {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
    border-radius: 100%;
}

.animal-link:hover .overlay {
    opacity: 0.8;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

