.about-us {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-us h1 {
    text-align: center;
    margin-bottom: 20px;
}

.about-us section {
    margin-bottom: 40px;
}

.about-us h2 {
    color: rgb(221, 35, 60);
    border-bottom: 2px solid #eee;
    font-size: 30px;
}

.about-us p {
    color: rgb(0, 124, 6);
    line-height: 1.6;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}