.footer {
    background-color: rgb(0, 106, 220);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: ;

}

.footer a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
}

.social-icons a {
    display: inline-block;
    justify-content: left;
    font-size: 2.5em;
    margin: 10px 20px;
}

.footer-logo {
    width: 100px;
    display: flex;
    margin-bottom: -120px;
    /* margin-top: 40px; */
    bottom: 0;

}