.footer {
    background-color: rgb(0, 106, 220);
    color: #fff;
    padding: 10px;
    text-align: center;
    
}

.footer a {
    color: #fff;
    margin: 0 10px;
}

.social-icons a {
    display: inline-block;
    justify-content: left;
    font-size: 1.5em;
    margin: 10px 20px;
}