/* adding my custom styles here */

.carousel-container {
width: 100%;
position: 100%;
overflow: hidden;
}

.carousel-image {
    width: 100%;
    display: block;

}

.carousel-typography {
    position:absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color:blue
}