.petImage {
  height: 200px;
}

#line-height > .MuiCardContent-root > p {
  margin-block-start: 0.5em !important;
  margin-block-end: 0.5em !important;
}

#pet-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#pet-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex-wrap: nowrap;
}

#pet-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  flex-wrap: nowrap;
  margin-top: 3%;
}

#pet-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  flex-wrap: nowrap;
  margin-top: 3%;
}

#bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex-wrap: nowrap;
}

#bottom-left > .flexbox-turn-on {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

#map-controls {
  width: 70vw !important;
  align-items: center;
}

.markers {
  flex-direction: column;
  align-items: flex-start !important;
}

.posts {
  flex-direction: column;
  align-items: flex-start !important;
}
